fastapi
uvicorn
python-telegram-bot[job-queue]
supabase
opencv-python-headless
face-recognition
face-recognition-models
dlib-bin==19.24.6
pillow
geopy
flask
python-dotenv
requests
numpy
openpyxl
gunicorn
